* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;

    font-family: Arial, sans-serif;
    background:url("images/banksign.jpg") no-repeat;
    background-size: cover;
}

.sign {
    width: 50%;
    height: 100%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Set width to 100% */
    padding: 10px;
    margin: 10px 0;
    background-color: #ccd8f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

h1{
    color: #fff;
}

button[type="submit"] {
    width: calc(100%);
    padding: 10px;
    margin: 10px 0;
    background-color: #ca316c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #580005;
}

button{
    width: calc(100%);
    padding: 10px;
    margin: 10px 0;
    background-color: #caa631;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #584800;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

h6 {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
